## List Comprehensions and Generator Expressions

### List Comprehensions and Readability

In [5]:
# Exmaple 2-1
symbols = '一个中国人'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
codes

[19968, 20010, 20013, 22269, 20154]

In [6]:
# Example 2-2
symbols = '一个中国人'
codes = [ord(symbol) for symbol in symbols]
codes

[19968, 20010, 20013, 22269, 20154]

### Listcomps Versus map and filter

In [7]:
# Example 2-3
symbols = '一个中国人'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[19968, 20010, 20013, 22269, 20154]

In [8]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
beyond_ascii

[19968, 20010, 20013, 22269, 20154]

### Cartesian Product

In [9]:
# Example 2-4
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [10]:
tshirts = [(color, size) for size in sizes for color in colors]
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

### Generator Expressions

In [11]:
## Example 2-5
symbols = '一个中国人'
# 如果生成器表达式作为函数的唯一参数，则无需添加外层的括号
tuple(ord(symbol) for symbol in symbols)

(19968, 20010, 20013, 22269, 20154)

In [14]:
import array
# 第二个参数是一个生成器
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [19968, 20010, 20013, 22269, 20154])

In [16]:
# Example 2-6
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

## Tuples are not just Immutable Lists

### Tuples as Records

In [17]:
# Exmaple 2-7
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [18]:
# For循环知道如何分别对country和_赋值，这被称为unpacking
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

### Tuple unpacking

In [20]:
lax_coordinates = (33.9425, -118.408056)
# Tuple unpacking
latitude, longitude = lax_coordinates
latitude

33.9425

In [24]:
# Tuple unpacking for swap
a = 1
b = 2
a, b = b, a
a

2

### Using * to grab excess items

In [26]:
# Parallel assignment
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [27]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [28]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [29]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [30]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

### Nested Tuple Unpacking

In [32]:
# Example 2-8
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 70.208889)),
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
# By assigning the last field to a tuple, we unpack the coordinates.
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude > 100:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Tokyo           |   35.6897 |  139.6917

### Named Tuples

In [34]:
# Example 2-9
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [35]:
tokyo.population

36.933

In [36]:
tokyo[2]

36.933

In [37]:
# Example 2-10
City._fields

('name', 'country', 'population', 'coordinates')

In [39]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [42]:
delhi.coordinates

LatLong(lat=28.613889, long=77.208889)

## Slicing

### Why Slices and Range Exclude the Last Item
* It works well with the zero-based indexing used in Python, C and other languages
* It’s easy to see the length of a slice or range when only the stop position is given: range(3) and my_list[:3] both produce three items
* It’s easy to compute the length of a slice or range when start and stop are given: just subtract stop - start
* It’s easy to split a sequence in two parts at any index x, without overlapping: simply get my_list[:x] and my_list[x:]. For example:

### Slice Object

In [43]:
s = 'bicycle'
s[::3]

'bye'